<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintain</title>
</head>
<body>
    <h1>the site is under maintainanace !!</h1>
    <div>please wait for a moment.........</div>
    
</body>
</html>