<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Surname</title>
    <link rel="stylesheet" href="css/display.css">

    <script src = "js-files/angular.min.js"></script>

    <script type="text/javascript">
    var myApp=angular.module('fetchSurname',[]);
    myApp.controller('surnameController',function($scope,$http){
               $http.get('data.json').then(function(response){
              $scope.mydata=response.data.records;
                   console.log(response.data);

            });
        });
    </script>
</head>
<body >
   <div id="container1" ng-app="fetchSurname" ng-controller="surnameController">
       <div > 
       Surname:<input type="text" placeholder="Enter your Lastname" ng-model="search"><br>
       </div>

   <div ng-repeat="x in mydata|filter:search ">
       {{x.Name}}ok!!
   </div>
</div>
</body>
</html>
